@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container {
  font-family: 'Quicksand', sans-serif;
  width: clamp(280px, 40vw, 400px);
}

.card__image {
  @apply object-cover w-full;
}

.card {
  @apply flex flex-col overflow-hidden bg-gradient-to-r from-[#ffffff] to-[#ece9e6]  shadow-lg rounded-[20px];
}

.card__body {
  @apply flex flex-col p-4 space-y-2;
}

.tag {
  @apply bg-gradient-to-b from-[#276bc4] to-[#56ccf2] text-white text-sm font-bold px-5 py-0.5 rounded-[1em] self-start;
}

.card__body h4 {
  @apply text-2xl font-semibold text-black/80;
}

.card__footer {
  @apply flex pl-4;
}

.user {
  @apply flex gap-3 pl-4 mt-5 mb-5;
}

.user h5 {
  @apply text-xl font-semibold text-black/80  mt-0.5;
}

.user img {
  border-radius: 50%;
}

.user small {
  @apply text-gray-500;
}
